.container {
  width: 60%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #dd9866;
}

h1 {
  margin: 30px;
  font-family: 'Nerko One', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #ffc85c;
}

p {
  font-size: 2rem;
  color: #ffc85c;
 font-family: 'Nerko One', cursive;
}

img {
  width: 80%;
}
